.hero {
  margin-top: 26px;
  padding-top: 258px;
  padding-bottom: 166px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/hero-bg.jpg");
  z-index: -1;
}

.hero__title {
  width: 573px;
  color: rgb(255, 255, 255);
  font-family: "Poppins";
  font-size: 64px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.5px;
}
