.products {
  margin-top: 363px;
  position: relative;
}

.products__title {
  color: rgb(34, 38, 42);
  font-family: "Poppins";
  font-size: 35px;
  font-weight: 600;
  line-height: 53px;
  letter-spacing: 0.5px;
  text-align: center;
  margin-bottom: 26px;
}

.modal {
  position: absolute;
  inset: 0;
  background-color: #726f6f5c;
  display: flex;
  justify-content: center;
  display: none;
}

.modal__content {
  max-width: 1300px;
  width: 100%;
  padding: 30px;
  border-radius: 20px;
  background-color: #fff;
  max-height: 90vh;
  overflow-y: scroll;
}

.active {
  display: flex;
}

.modal__block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal__header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.modal__header_title {
  margin-left: 50px;
}

.modal__header_title:last-child {
  margin-left: auto;
  margin-right: 40px;
}

.modal__card {
  display: flex;
  align-items: center;
  border-radius: 10px;
  height: 150px;
  padding: 20px;
  text-align: center;
  border: 1px solid rgb(51, 160, 255);
  transition: all 0.3s ease;
}

.modal__card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal__img {
  margin-left: 38px;
  margin-right: 28px;
  width: 70px;
}

.modal__basket {
  position: relative;
}

.modal__basket__text {
  color: #fff;
  position: absolute;
  top: -13px;
  left: 7px;
  background-color: rgb(247, 74, 189);
  border-radius: 50%;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_total {
  margin-left: auto;
  margin-right: 40px;
}

.rate_img {
  width: 150px;
  margin: 0 auto;
}

.add_btn {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #fff;
  background-color: rgb(64, 191, 255);
  padding: 4px 12px;
  cursor: pointer;
  border-radius: 5px;
  // text-transform: uppercase;
  border: 1px solid rgb(51, 160, 255);
}

.add_btn:hover {
  background-color: #fff;
  color: rgb(51, 160, 255);
  border: 1px solid rgb(51, 160, 255);
}

.modal__price {
  margin-left: auto;
  margin-right: 15px;
}

.plus_btn {
  margin-right: 10px;
}

.delete_btn {
  background: transparent;
  color: red;
}

.button_box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.close_modal {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #fff;
  background-color: rgb(64, 191, 255);
  padding: 4px 12px;
  margin-bottom: 15px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid rgb(51, 160, 255);
}

.close_modal:hover {
  background-color: #fff;
  color: rgb(51, 160, 255);
  border: 1px solid rgb(51, 160, 255);
}

.products__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 34px;
  margin-top: 26px;
}

.products__card {
  max-width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 20px 30px;
  border: 1px solid rgb(182, 179, 179);
  border-radius: 5px;
  text-align: center;
  transition: all 0.3s ease;
}

.products__card:hover {
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

// .products__card:hover .products__card__img {
//   max-width: 125px;
//   height: 125px;
// }

.products__card__img {
  margin: 0 auto;
  max-width: 120px;
  height: 120px;
  transition: all 0.3s ease;
}

.products__card__title {
  color: rgb(34, 50, 99);
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.5px;
}

.price_block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.products__card__text {
  text-decoration: line-through;
  color: rgb(131, 142, 148);
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 700;
  line-height: 180%;
  letter-spacing: 0.5px;
}

.sale_price {
  color: rgb(64, 191, 255);
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 700;
  line-height: 180%;
  letter-spacing: 0.5px;
}

.sale_percent {
  color: rgb(241, 86, 105);
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 700;
  line-height: 180%;
  letter-spacing: 0.5px;
}

.btn_box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.category_btn {
  color: rgb(38, 38, 38);
  font-family: "Poppins";
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  background: transparent;
  transition: all 0.3s ease;
  cursor: pointer;
}

// .category_btn:active {
//   border-bottom: 1px solid red;
// }

.category_btn:hover {
  color: rgb(51, 160, 255);
}

.show_items_block {
  margin-top: 50px;
  display: flex;
}

.open_modal {
  margin-left: auto;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #fff;
  background-color: rgb(64, 191, 255);
  padding: 4px 12px;
  cursor: pointer;
  border: 1px solid rgb(51, 160, 255);
}
.open_modal:hover {
  background-color: #fff;
  color: rgb(51, 160, 255);
  border: 1px solid rgb(51, 160, 255);
}

.search_input {
  font-family: "Poppins";
  outline: none;
  border: 2px solid rgb(64, 191, 255);
  height: 30px;
  padding: 19px 27px;
  color: rgb(38, 38, 38);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.search_btn {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #fff;
  background-color: rgb(64, 191, 255);
  padding: 4px 11px;
  cursor: pointer;
  border: 1px solid rgb(51, 160, 255);
}

.search_btn:hover {
  background-color: #fff;
  color: rgb(51, 160, 255);
  border: 1px solid rgb(51, 160, 255);
}

.active_tab {
  color: rgb(51, 160, 255);
  border-bottom: 1px solid rgb(51, 160, 255);
}
